html {
  font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: placeholder: здесь должно быть имя шрифта из Google fonts
}
h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: red;
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 50px solid purple;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: green;
  text-shadow: 3px 3px 1px black;
}
h2 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
 text-shadow: 1px 0px 0px red;
}
img {
  display: block;
  margin: 0 auto;
}
